<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   
        PUBLIC "-//mybatis.org/DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
<!-- 사용하려는 DTO에 대한 축약 이름 -->
    <typeAliases>
        <typeAlias alias="UserVO" type="com.rms.recipemanagementsystem.vo.UserVO" />
    </typeAliases>
</configuration>

<!-- Mybatis Mapper 인터페이스 사용시 주의해야할 점으로는 VO 객체에 생성자를 둘 경우, 
생성자가 있을 경우와 생성자가 없을 경우를 모두 오버로딩해서 작성해줘야 한다는 것입니다.
리턴 타입이 VO 객체일 경우 Mybatis는 빈 객체 "new VO()"로 인스턴스를 생성한 뒤 setter를 통해 값을 주입해서 반환해줍니다.
이 때 생성자가 무조건 있어야 하는 VO라면 인스턴스 생성에 실패해서 예외를 뱉어내게 됩니다. 따라서 아래와 같이 오버로딩을 해줘야 합니다. -->